<h1>Editing office</h1>

<form accept-charset="UTF-8" action="<%= office_url(@office.id) %>" class="edit_office" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" />
<%= render 'form' %>

  <div class="actions">
    <input name="commit" type="submit" value="Edit Office" />
  </div>

</form>


<%= link_to 'Show', @office %> |
<%= link_to 'Back', offices_path %>
