<!-- <h1>Listing offices</h1> -->

<section class="filter-controls">
Filters!
  <%= render "filter" %>
  <hr>
</section>

<div class="tile-field group">
<% @offices.each do |office| %>
  <%= render "tile", office: office %>
<% end %>
</div>


<script>

</script>

