<form action="<%= tags_url %>" method="POST">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" /></div>
<input name="tag[tag_name]"></input>
<input type="submit" value="Create Tag">
</form>