// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.rental-button {
  background-color: green;
  color: yellow;
  font-weight: bolder;
}

.negotiation {
  float: left;
  width: 30%;
  border: solid black 1px;
}
