// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.conversation {
  float: right;
  width: 65%;
  height: 300px;
}


.message-box {
  width: 100%;
  min-height: 125px;
  height: auto;
}


.message-field {
  height: 30px;
  float: left;
  max-width: 450px;
  max-height: 100px;
}

.send-message {
  float: left;
}

.individual-message {
  min-height: 20px;
  height: auto;
  width: 60%;
  border-radius: 5px;
  float: left;
}


.renter {
  float: right;
  text-align: center;
  background: lightblue;
}

.owner {
  text-align: center;
  background: lightgreen;
}


.conversation-history{
  float: left;
  width: 100%;
}