// Place all the styles related to the Offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//html, body, div, span, applet, object, iframe,
//h1, h2, h3, h4, h5, h6, p, blockquote, pre,
//a, abbr, acronym, address, big, cite, code,
//del, dfn, em, img, ins, kbd, q, s, samp,
//small, strike, strong, sub, sup, tt, var,
//b, u, i, center,
//dl, dt, dd, ol, ul, li,
//fieldset, form, label, legend,
//table, caption, tbody, tfoot, thead, tr, th, td,
//article, aside, canvas, details, embed,
//figure, figcaption, footer, header, hgroup,
//menu, nav, output, ruby, section, summary,
//time, mark, audio, video,
.delete-button {
	margin-right: 3px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: Arial,sans-serif;
	vertical-align: baseline;
  border-radius: 2px;
}

.track-button {
  background-color: green;
  color: white;
  padding: 6px;
  border-radius: 8px;
  margin: 5px;
  border: solid black 2px;
  opacity: .75;
  float: left;
  height: 30px;
}

.listing-title {
  width: auto;
  float: left;
}

.primary-image {
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
  border: 2px black solid;
  display: block;
}

.primary-image > img {
  display: block;
  vertical-align: middle;
}

.office-map  {
  float: left;
  border: 2px solid black;
}


.featureBox {
  border: 1px solid black;
  width: 300px;
  overflow-y: scroll;
  height: 300px;
  border-radius: 5px 0px 0px 5px;
  height: 200px;
}

.listing-body {
  width: 300px;
}


.listing-header {
  margin-right: 20px;
  margin-bottom: 20px;
  height: auto;
  max-height: 500px;
  overflow: auto;
}

.listing-body {
}

.featureCheck {
  background: lightgray;
  margin: 5px 0px;
  margin-left: 0px;
  padding: 0px 5px;
  border-radius: 5px;
  display: block;
}

.delete-button {
  height: 15px;
  width: 15px;
  display: inline-block;
  border-radius: 50px;
  border: 1px gray solid;
}

.featureCheck > .button_to {
  height: 15px;
  width: 15px;
  margin-right: 4px;
  margin-left: -6px;
  display: inline-block;
}

.featureCheck > label {
  width: inherit;
}

.killFeature{
  height: 15px;
  width: 15px;
  cursor: pointer;
  background-image: url("delete.png");
}


// This is mostly for index.html.erb


#map-canvas {
  width: 270px;
  height: 270px;
  padding: 0px;

}

.filter-controls {
  width: 270px;
  float: left;
}

.filter-button {
  padding: 2px 10px;
}

.form-item {
//  overflow: hidden;
  height: 50px;
  width: 100%;
  padding: 10px 0px;
//  border: blue;
}

.form-item label {
  float: left;
  padding: 0px;
  margin: 0px;
  display: block;
  width: 100%;
//  border: solid red 1px;
}

.form-item input {
  width: 100%;
  display: block;
//  border: solid red 1px;
}


.filter-controls > input {
  display: inline-block;
  width: auto;
}


.side-bar-input > .small-field {
  width: 50px;
}


.side-bar > .featureBox {
  border: 1px solid black;
  width: auto;
//  padding-right: 40px;
  overflow-y: scroll;
  height: 300px;
  border-radius: 5px 0px 0px 5px
//  resize: vertical;
}


.tile-field {
  background: lightgray;
  width: 70%;
  width: 948px;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
  float: left;
  margin-left: 100px;

}

.listing-tile{
  margin: 15px 18px;
//  margin-right: 30px;
  height: 280px;
  width: 280px;
  float: left;
  border-radius: 10px;
  overflow: hidden;
  background: whitesmoke;
}


.search-footer{
  margin-left: 10px;
}

.search-image{
  height: auto;
  width: auto;
  overflow: hidden;
  margin: auto;
}

.search-image > a >img{
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  .fillwidth { width: 100%; height: auto; }
  .fillheight { height: 100%; width: auto; }
}

